:root{
	--background:#0365a0;
	--text:#61B2E3; 
	--success:#6CC04A;
	--secondary:#66B4E2;
	--titles:#002b45;
	--popup:#1077b4;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	/*overflow-x:hidden;*/
}

body {
	background-color:var(--background);
	color: #fff;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Arial", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	position:relative;
	overflow-x:hidden;
}

a {
	color: #9acaeb;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #9acaeb;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #fff;
	outline: none;
	border-radius: 23.5px;
	border:none;
	padding:10px 60px;
	font-weight:700;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

ul{
	list-style-type: none;
}

h1,h2,h3,h4,h5{ margin:0px; padding:0px; }