<section id="contactus">
  <h1>Can’t find open positions that<br />
  suits you? Use this form<br />
  to tell us about yourself.</h1>

  <div>
    <input type="input" placeholder="Name, Surname" />
    <input type="input" placeholder="e-mail" />
    <input type="input" placeholder="phone number" />
    <input type="input" class="social linkedin" />
    <input type="input" class="social github" />
  </div>

</section>

<style type="text/scss">
section{
  margin-top:60px;
  margin-bottom:100px;
  h1{ font-size:30px; font-weight:700; color:#61b2e3; }
}

input[type="input"]{ 
  border:none; 
  color:white; 
  background-color:transparent; 
  border-bottom:1px solid var(--secondary); 
  &::placeholder{
    color:var(--secondary);
  }
  margin:20px;
  position:relative;
}
input[type="input"]:focus{ outline:none; }
input.social{
  
  &::before{ content:url('/res/input-linkedin.svg'); width:36px; height:36px; position:absolute; top:0px; left:0px; }
}
</style>