<footer>
  <div>© TietoEVRY LATVIA. All rights reserved.</div>
  <div>
    Write us an <a href="mailto:darbs@tieto.com" target="_blank">e-mail</a>.
    <div class="social">
      <a href="https://www.linkedin.com/company/tietolatvia/" target="_blank"><img alt="LinkedIn" src="/res/contactus/linkedin.svg" /></a>
      <a href="https://www.instagram.com/tieto_latvia/?hl=en" target="_blank"><img alt="Instagram" src="/res/contactus/instagram.svg" /></a>
      <a href="https://www.facebook.com/TietoCorporation/" target="_blank"><img alt="Facebook" src="/res/contactus/facebook.svg" /></a>
      <a href="https://twitter.com/tietolatvia?lang=en" target="_blank"><img alt="Twitter" src="/res/contactus/twitter.svg" /></a>
    </div>
  </div>
</footer>

<style type="text/scss">
@import '../sass/breakpoints';

footer{
  background-color:var(--background);
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  color:var(--text);
  align-items:center;
  & > div{
    padding:20px;
  }
  .social{
    display:inline-block;
    a{      
      margin-left:10px;
      img{
        height:25px;
        vertical-align:bottom;
      }
    }
  }
}

@media #{$mobile-portrait}{
  footer{
    flex-direction:column; 
    & > div{
      padding:10px;
      &:last-child{
        margin-bottom:30px;
      }
    }
  }
}
</style>