<section id="vacancies">
  <h1>Open positions?</h1>
  <p>Check them out</p>
  <a href="https://www.tieto.com/en/careers/search-our-jobs/?area=&amp;country=Latvia&amp;city=&amp;q=" target="_blank"><button class="apply">Vacancies</button></a>
  <p>Nothing catching your eye in our Open Positions,<br />but you're still interested in talking to us?<br />We’re all ears, <a href="mailto:darbs@tieto.com" target="_blank">just drop us a line!</a></p>
</section>

<style type="text/scss">
section{
  background-color:#002b45;
  color:#61b2e3;

  max-width:980px;
  margin:0px auto;

  padding-top:60px;
  padding-bottom:60px;
  p{
    line-height:1.8em;
  }
  h1{ font-size: 30px; letter-spacing: -0.379747px; line-height:30px; margin-bottom:20px; }
  button.apply{

    background-color:var(--success);
    &:hover{
      background-color:#FFF;
      color:var(--titles);
    }
  }
}
@media( max-width:1024px ){
  section{ 
    margin-left:15px;
    margin-right:15px;
  }
}
</style>